body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#etch-a-sketch-container {
    display: grid;
    border: solid black 2px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: fit-content;
    height: fit-content;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 512px;
    height: 512px;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grid-item {
    background-color: black;
    
    
}

#color-wheel {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  
.color-segment {
    position: absolute;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
    top: 0;
}

.color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

#outer-box {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#selected-color-display {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 30px;
}

#buttons {
    margin: 10px;
}
