* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#header {
    text-align: center;
    font-size: 64px;
    font-family: cursive;
    color: #3C3C3C;
    background-color: #F5F5F5;
    border-radius: 30px;
    border: solid #3C3C3C 0;
    padding: 10px 30px 10px 30px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom-width: 7px;
    border-right-width: 5px;
    border-bottom-color: #8a8a8a;
    border-right-color: #8a8a8a;
    
}

#etch-a-sketch-container {
    display: grid;
    border: solid black 2px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: fit-content;
    height: fit-content;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 512px;
    height: 512px;
    border-radius: 30px;
    padding: 18px;
    background-color: black;
}

#outer-etch-box {
    border: black solid 4px;
    padding: 55px;
    padding-top: 0;
    border-radius: 30px;
    background-color: #FF5A5F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grid-item {
    background-color: black;
}

#color-wheel {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: solid #F5F5F5 4px;
}
  
.color-segment {
    position: absolute;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
    top: 0;
}

.color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 15px;
}

#outer-box {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100vw;
    border: solid black 3px;
}

#inner-box {
    border: solid black 3px;
    background-color: #087E8B;
    border-radius: 30px;
    padding: 150px;
    padding-left: 450px;
    padding-right: 450px;
}

#selected-color-display {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 30px;
    border-radius: 10px;
}

#buttons {
    margin: 10px;
}

button {
    background-color: #F5F5F5;
    border: solid #3C3C3C 2px;
    color: #3C3C3C;
    font-weight: 900;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#grid-size-selector {
    border: solid #3C3C3C 2px;
    border-radius: 5px;
    padding: 2px 8px 2px 10px;
    background-color: #F5F5F5;
    font-weight: 900;
}